.education-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff;
  transition: transform 0.3s;
}

.education-card:hover {
  transform: translateY(-10px);
}
.education-image-container {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  flex-shrink: 0;
}

.education-image {
  max-width: 100%;
  max-height: 100%;
}

.education-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-degree {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #2b6cb0;
}

.education-institution {
  font-size: 1.2em;
  color: #4a5568;
  margin: 0 0 5px;
}

.education-duration {
  font-size: 1em;
  color: #2b6cb0;
  margin: 0 0 10px;
}

.education-status {
  color: #48bb78;
}

.education-coursework {
  font-size: 1em;
  color: #4a5568;
}
