.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1d5ee0;
  color: white;
  border-radius: 8px;
  padding: 20px 10px; /* Reduced padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  text-align: center;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-icon {
  font-size: 2.5rem; /* Reduced icon size */
  margin-bottom: 30px;
}

.skill-name {
  font-size: 1rem; /* Slightly reduced font size */
  color: white; /* Set color to white */
  font-weight: bold; /* Set font to bold */
}
